*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-dark: hsl(0, 0%, 20%);
  --clr-light: hsl(0, 0%, 93%);
  --clr-red: hsl(6, 78%, 57%);
  --clr-yellow: hsl(60, 100%, 50%);
  --clr-purple: hsl(259, 100%, 56%);
  --clr-green: hsl(151, 100%, 45%);
  --clr-blue: hsl(204, 70%, 53%);
}

body {
  margin: 0;
  background-color: var(--clr-dark);
  font-family: system-ui, sans-serif;
}

h1,
h2 {
  margin: 0;
}

.main {
  margin: 2rem auto;
  width: min(95%, 50rem);
}

.header {
  color: var(--clr-light);
  margin-bottom: 2rem;
  text-align: center;
}

.header h1 {
  margin-bottom: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1.5rem;
  border: 4px solid var(--clr-blue);
}

.caja {
  height: 3rem;
  border: 4px solid var(--clr-red);
}

.no-es-caja {
  height: 3rem;
  border: 4px solid var(--clr-purple);
  border-radius: 2rem;
  grid-column: span 2;
}

/* Cada 'n' elementos */
/* .caja:nth-of-type(2n) {
    border-color: var(--clr-yellow);
} */

/* .caja:nth-of-type(3n) {
    border-color: var(--clr-yellow);
} */

/* Impares y pares */
/* .caja:nth-of-type(odd) {
    border-color: var(--clr-yellow);
} */

/* .caja:nth-of-type(even) {
    border-color: var(--clr-yellow);
} */

/* Columnas */
/* .caja:nth-of-type(4n + 4) {
    border-color: var(--clr-yellow);
} */

/* .caja:nth-of-type(4n + 1) {
    border-color: var(--clr-yellow);
} */

/* Hacia delante */
/* .caja:nth-of-type(n + 3) {
    border-color: var(--clr-yellow);
} */
/* Hacia atrás */
/* .caja:nth-of-type(-1n + 5) {
    border-color: var(--clr-yellow);
} */

/* Se pueden combinar hacia delante y hacia atrás*/
/* .caja:nth-of-type(n + 3):nth-of-type(-1n + 6) {
    border-color: var(--clr-yellow);
} */

/* .caja:nth-of-type(n + 1):nth-of-type(-1n + 4) {
    border-color: var(--clr-yellow);
} */

/* .caja:nth-of-type(n + 5):nth-of-type(-1n + 8) {
  border-color: var(--clr-yellow);
} */

/* .caja:nth-of-type(n + 9):nth-of-type(-1n + 12) {
  border-color: var(--clr-yellow);
} */

/* Dos filas */
/* .caja:nth-of-type(n + 1):nth-of-type(-1n + 4) {
    border-color: var(--clr-yellow);
} 

.caja:nth-of-type(n + 5):nth-of-type(-1n + 8) {
  border-color: var(--clr-green);
}  */

/* El elemento extraño (el sexto) */
/* .caja:nth-child(2n) {
    border-color: var(--clr-yellow);
} */

/* .caja:nth-of-type(2n) {
    border-color: var(--clr-yellow);
} */

/* Una solución. Soporte limitado todavía */
/* .caja:nth-child(2n of .caja) {
    border-color: var(--clr-yellow);
} */
